* {
    margin: 0;
    padding: 0;
    font-family: "Anton SC", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(-25deg,white 80%, rgb(197, 197, 197));
}

#homeImage:is(.reverse){
    display: none;
    animation: homeImage 1s ease reverse forwards;
}

#homeImage {
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-image: url(../img/home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 0deg;
    z-index: 0;
    animation: homeImage 1s ease, upDown 3s ease-in-out infinite alternate 1s;
}

#homeBackground:is(.reverse){
    display: none;
    animation: homeBackground 0.8s ease reverse forwards;
}

#homeBackground {
    position: fixed;
    left: 7.5%;
    width: 120vw;
    height: 90vh;
    background-color: brown;
    background-image: linear-gradient(to right, brown 65%, rgb(255, 56, 56));
    rotate: -60deg;
    z-index: 1;
    opacity: 99%;
    bottom: -10vh;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.171);
    animation: homeBackground 0.8s ease;
}

#starBackground:is(.reverse){
    display: none;
    animation: starBackground 0.6s ease reverse forwards;
}

#starBackground {
    position: fixed;
    right: -60%;
    bottom: 30%;
    width: 100vw;
    height: 50vh;
    rotate: -60deg;
    opacity: 90%;
    background-color: rgb(163, 24, 24);
    animation: starBackground 1s ease;
}

#sunContainer:is(.reverse){
    display: none;
    animation: sun 0.5s linear reverse forwards;
}

#sun:is(.reverse){
    display: none;
    animation: sun 0.5s linear reverse forwards;
}

#sunContainer {
    position: fixed;
    border-radius: 100%;
    border: dashed 15px brown;
    bottom: 35%;
    left: 2%;
    z-index: -1;
    padding: 0.5%;
    animation: sun 0.5s linear, sunContainer 7s linear infinite;
}

#sun {
    width: 16vw;
    height: 16vw;
    border-radius: 100%;
    background-color: rgb(255, 36, 36);
    box-shadow: 0px 0px 100px rgba(255, 44, 44, 0.747);
    border: solid 10px rgb(255, 63, 63);
    animation: sun 0.5s linear;
}

#locationTitle:is(.reverse) {
    display: none;
    animation: locationTitle 1s ease reverse forwards;
}

#locationTitle {
    position: fixed;
    rotate: 90deg;
    font-size: 48vh;
    z-index: -2;
    left: -15%;
    top: 25%;
    bottom: 25%;
    color: rgb(180, 180, 180);
    animation: locationTitle 1s ease;
}


@keyframes homeImage {
    0% {
        rotate: 70deg;
        transform: translateX(-100%) translateY(-80%);
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes starBackground {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-3%);
    }
}

@keyframes homeBackground {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes sun {
    0% {
        scale: 50%;
        opacity: 0%;
    }

    100% {
        scale: 100%;
        opacity: 100%;
    }
}

@keyframes sunContainer {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes locationTitle {
    0% {
        opacity: 0%;
        transform: translateY(300%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    rotate: 180deg;
    z-index: 3;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 20px;
    background: rgba(255, 116, 146, 0.185);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 40px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 10px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 10px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 30px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 10px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 55px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 75px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 12px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 7px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 75px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 30%;
    }

    100%{
        transform: translateY(-80vh) translateX(20vw) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}

#butonsContainer {
    height: 80vh;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 22%;
    top: 10%;
    z-index: 4;
    transform: skew(-20deg);
}

#butonsContainer:is(.reverse) > button {
    display: none;
    animation: buttonSpawn 0.8s ease-in-out reverse forwards;
}


#butonsContainer > button {
    font-size: 13vh;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    animation: buttonSpawn 0.8s ease-in-out;
    transition: all 0.2s;
    color: rgb(255, 135, 135);
}

#butonsContainer > button:hover {
    color: rgb(0, 0, 0);
    scale: 110%;
    rotate: -5deg;
}

@keyframes buttonSpawn {
    0% {
        scale: 0%;
        opacity: 0%;
    }

    100% {
        scale: 100%;
        opacity: 100%;
    }
}

#butonDecorations{
    height: 90vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 17%;
    top: 3%;
    z-index: 3;
    transform: skew(-20deg);
    filter: drop-shadow(20px 10px 0px rgba(255, 0, 0, 0.597));
}

#butonDecorations > section {
    height: 20%;
    visibility: hidden;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.4s;
    rotate: -4deg;
}

#butonDecorations > section:nth-child(1) {
    margin-top: 3.5%;
}

#butonDecorations > section:nth-child(2) {
    margin-bottom: 0%;
}

#butonDecorations > section:nth-child(3) {
    margin-bottom: 11%;
}


#butonsContainer:has(button:nth-child(1):hover) ~ #butonDecorations > section:nth-child(1) {
    visibility: visible;
    background-color: rgb(255, 180, 180);
    animation: textDecoration 1s ease-in-out infinite alternate;
}

#butonsContainer:has(button:nth-child(2):hover) ~ #butonDecorations > section:nth-child(2) {
    visibility: visible;
    background-color: rgb(255, 180, 180);
    animation: textDecoration 1s ease-in-out infinite alternate;
}

#butonsContainer:has(button:nth-child(3):hover) ~ #butonDecorations > section:nth-child(3) {
    visibility: visible;
    background-color: rgb(255, 180, 180);
    animation: textDecoration 1s ease-in-out infinite alternate;
}

@keyframes textDecoration {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(2vw) translateY(-1vh);
    }
}

#proyectsBackground:is(.reverse){
    animation: homeBackground 0.8s ease reverse forwards;
}

#proyectsBackground {
    position: fixed;
    width: 120vw;
    height: 90vh;
    left: -50%;
    top: -20%;
    background-color: brown;
    background-image: linear-gradient(to right, brown 65%, rgb(255, 56, 56));
    rotate: -40deg;
    z-index: 1;
    opacity: 99%;
    bottom: -10vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    animation: homeBackground 0.8s ease;
}

#proyectsBackgroundBottom:is(.reverse){
    animation: starBackground 1s ease reverse forwards;
}

#proyectsBackgroundBottom {
    position: fixed;
    right: -60%;
    bottom: 0%;
    width: 100vw;
    height: 60vh;
    rotate: -40deg;
    background-image: linear-gradient(to right, brown 65%, rgb(255, 56, 56));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    animation: starBackground 1s ease;
}

#proyectsTitle:is(.reverse){
    animation: locationTitle 1s ease forwards reverse;
}

#proyectsTitle {
    position: fixed;
    rotate: -40deg;
    font-size: 23vh;
    z-index: -2;
    bottom: 18%;
    opacity: 0%;
    right: -5%;
    color: rgb(180, 180, 180);
    animation: locationTitle 1s ease forwards;
    animation-delay: 0.15s;
}

#proyectsList:is(.reverse){
    display: none;
    animation: proyectList 0.7s ease reverse forwards;
}

#proyectsList {
    position: fixed;
    left: 4%;
    top: 10%;
    animation: proyectList 0.7s ease;
    z-index: 4;
}

#proyectsList > h2 {
    font-size: 10vh;
    letter-spacing: 0.3vw;
    transform: skew(-6deg);
    color: rgb(224, 224, 224);
}

#proyectContainer {
    display: flex;
    direction: rtl;
    padding: 1%;
    position: relative;
    left: 6%;
    flex-direction: column;
    width: 30vw;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: skew(10deg);
}

.proyect {
    background-color: rgb(104, 19, 19);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 15vh;
    margin-bottom: 1%;
    opacity: 0%;
    animation: proyectSpawn 0.5s ease-in-out forwards;
    animation-delay: 0.4s;
    cursor: pointer;
    transition: all 0.2s;
}

.proyect > p {
    text-decoration: none;
    font-size: 3vh;
    width: 90%;
    text-align: center;
    padding: 0.5%;
    margin-bottom: 4%;
    transition: all 0.2s;
    background-color: rgb(255, 112, 112);
    color: rgb(104, 19, 19);
}

.proyect > h2 {
    font-size: 2.8vh;
    color: rgb(255, 112, 112);
    letter-spacing: 0.3vw;
    width: 90%;
    transition: all 0.2s;
    text-align: end;
}

.proyect:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px rgb(104, 0, 0);
    scale: 110%;
}

.proyect:hover > p {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
}

.proyect:hover > h2 {
    color: rgb(19, 19, 19);
}

::-webkit-scrollbar {
    scrollbar-width: thin;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(216, 54, 54);
    border-radius: 20px;
    transition: all 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 38, 38);
}


@keyframes proyectList {
    0% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes proyectSpawn {
    0% {
        opacity: 0%;
        scale: 90%;
        transform: translateX(100%);
    }

    100% {
        opacity: 100%;
        scale: 100%;
        transform: translateX(0%);
    }
}

#selectedProyect {
    width: 100vw;
    height: 100vh;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    z-index: 4;
}

#proyectTitle:is(.reverse){
    display: none;
    animation: leftRight 0.5s ease forwards reverse;
}

#proyectTitle {
    grid-column: 1;
    grid-row: 1;
    animation: leftRight 0.5s ease forwards;
}

#proyectTitle > h2 {
    font-size: 8vh;
    letter-spacing: 1.5vw;
    position: relative;
    top: 10%;
    transform: skew(-10deg);
    color: whitesmoke;
}

#proyectTitle > div {
    position: relative;
    background-color: whitesmoke;
    transform: skew(-15deg);
    width: 110%;
    left: -4%;
    height: 55%;
    padding: 1%;
}

#proyectTitle > div > #name {
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1%;
    font-size: 3vh;
    line-height: normal;
    color: whitesmoke;
    height: 30%;
    margin-top: 1%;
}

#proyectTitle > div > #type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    left: -1%;
    transform: skew(-5deg);
    font-size: 4vh;
    line-height: normal;
    height: 100%;
}

#proyectTechs:is(.reverse){
    display: none;
    animation: leftRight 0.5s ease reverse forwards;
}

#proyectTechs {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    animation: leftRight 0.5s ease;
}

#proyectTechs > li {
    margin-left: 10%;
    background-color: rgb(204, 62, 62);
    border-radius: 100px;
    padding: 1%;
    font-size: 2.5vh;
    text-align: center;
    width: 40%;
    cursor: help;
    transition: all 0.2s;
}

#proyectTechs > li:hover {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

#proyectDescription:is(.reverse){
    display: none;
    animation: rightLeft 0.5s ease forwards reverse;
}

#proyectDescription {
    grid-column: 3;
    grid-row: 3;
    height: 60%;
    align-self: center;
    margin-right: 2%;
    background-color: rgb(124, 12, 12);
    box-shadow: 0px 0px 5px rgb(26, 13, 13);
    padding: 1.5%;
    border-radius: 5px;
    color: whitesmoke;
    text-wrap: pretty;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rightLeft 0.5s ease;
}

#proyectImage:is(.reverse){
    display: none;
    animation: rightLeft 0.5s ease forwards reverse;
}

#proyectImage {
    background-color: black;
    grid-column: 2 / 4;
    grid-row: 2;
    width: 50vw;
    height: 45vh;
    box-shadow: 0px 0px 5px rgb(43, 23, 23);
    justify-self: end;
    margin-right: 2%;
    background-image: url(../img/modpack.png);
    background-position: center;
    background-size: cover;
    border: solid 5px brown;
    border-radius: 5px;
    animation: rightLeft 0.5s ease;
    cursor: pointer;
}

#selectedProyect > button:is(.reverse){
    display: none;
    animation: rightLeft 0.5s ease forwards reverse;
}

#selectedProyect > button {
    grid-column: 3;
    border-radius: 100%;
    width: 5vw;
    height: 5vw;
    padding: 1%;
    font-size: 4vh;
    justify-self: end;
    background: none;
    margin-right: 1%;
    margin-top: 1%;
    border: none;
    animation: rightLeft 0.5s ease;
    transition: all 0.5s;
    cursor: pointer;
}

#selectedProyect > button:hover {
    background-color: rgb(235, 234, 234);
}

@keyframes leftRight {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rightLeft {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0%);
    }
}

#backButton:is(.reverse) {
    animation: rightLeft 0.3s ease reverse forwards;
}

#backButton {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 4;
    font-size: 3vh;
    letter-spacing: 0.5vw;
    border: none;
    background: none;
    color: rgba(255, 190, 190, 0.726);
    cursor: pointer;
    transition: all 0.2s;
    animation: rightLeft 0.5s ease;
}

#backIcon {
    position: fixed;
    bottom: -0.5%;
    right: 0%;
    z-index: 3;
    font-size: 8vh;
    letter-spacing: 0.5vw;
    rotate: 180deg;
    color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: all 0.6s;
}

#backButton:hover {
    scale: 110%;
}

#backButton:hover ~ #backIcon {
    visibility: visible;
    animation: backArrow 0.6s ease forwards;
}

@keyframes backArrow {
    0%{
        color: rgb(255, 255, 255);
        transform: translateX(0);
    }

    100%{
        transform: translateX(100%);
        color: rgba(0, 0, 0, 0);
    }
}